@import "~@/scss/base";


.partners-page {
  .top-banner {
    padding-top: 30px;
    padding-bottom: 9vw;
    &:after {
      background-image: url('~@/assets/images/bg-corner-baner-bottom-g.png')
    }
  }
  .bg-gradient-gray {
    padding-top: 50px;
    >.banner-block {
      padding-top: 51px;
    }
  }
}

@include desktop {
  .partners-page {
    .top-banner {
      &-image {
        img {
          max-width: 384px;
        }
      }
    }
  }
}

@include mobile {
  .partners-page {
    .top-banner {
      padding-bottom: 19.6875vw;
      &:after {
        background-image: url('~@/assets/images/bg-corner-baner-bottom-g-mb.png')
      }
      &-image {
        padding-top: 24px;
        padding-left: 0px;
        text-align: center;
        img {
          max-width: 217px;
        }
      }
      .top-banner-content {
        button {
          display: block;
          margin: 16px auto 0;
        }
      }
    }

    .bg-gradient-gray {
      >.join-block {
        padding-top: 0;
      }
      >.banner-block {
        padding-top: 26px;
      }
    }
  }
}
