@import "~@/scss/base";

.datenschutz-content {
  margin-bottom: 60px;
  font-size: 1.8rem;
  line-height: 30px;;
  .container {
    max-width: 1154px;
  }
  dl {
    display: flex;
    margin-bottom: 20px;
    dt {
      width: 40%;
    }
    dd {
      width: 60%;
      padding-left: 5px;
    }
  }
}

@include mobile {
  .datenschutz-content {
    font-size: 1.4rem;
    margin-top: 10px;
    margin-bottom: 0;
    dl {
      flex-direction: column;
      dd, dt {
        width: 100%;
      }
      dt {
        margin-bottom: 8px;
      }
    }
  }
}
